<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net452" />
  <package id="CefSharp.Common" version="47.0.4" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="47.0.4" targetFramework="net452" />
  <package id="FontAwesome.WPF" version="4.5.0.8" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net452" />
  <package id="sharpcompress" version="0.11.6" targetFramework="net452" />
</packages>